*{
    margin: 0;
    padding: 0;
}

body{ 
    background-image: url(football1.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
}

.regform{
    width: 800px;
    background-color: rgb(0, 0, 0, 6);
    margin: auto;
    color:#FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius:15px 15px 0px 0px ;
}

.main{
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
}

form{
    padding: 10px;
}

#name{
    width: 100%;
    height: 100px;
}

.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 532px;
    color: rgb(255, 254, 254);
    font-size: 18px;
    font-weight: 700;
}

.fullname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}


.firstlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: 203px;
    top: -45px;
}

.number{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.team{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.option option{
    font-size: 20px;
}

button{
    background-color: #1f961f;
    display: block;
    margin: 12px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border:2px solid #30e70b;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}

/* button1{
    background-color: #9797a0;
    display: small;
    margin: 40px 0px 0px 5px;
    text-align: center;
    border-radius: 12px;
    border:2px solid #000b0c;
    padding: 7px 50px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    position: relative;
    left: 400px;
} */

button:hover{
    background-color: rgb(32, 78, 18);
}